<a href="https://colab.research.google.com/github/ongks-useR/united_states_bike_share/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Bike Sharing in New York, U.S 2019***

This is part of my journey towards mastering Python for Data Science.

I use United States bike sharing data (particularly New York City) for data cleaning; please visit [bikeshare.com](https://www.citibikenyc.com/system-data) for data.

## Python Library

In [1]:
pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0

In [2]:
# data analysis
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# functional loop
from functools import reduce

# Operating System
from glob import glob
from os import path
from pathlib import Path

# calculate distance between geo coordinates
from haversine import haversine_vector, Unit

## ***Lesson 01: Import CSV, efficiently***

After trial & error, I find out various ways of import CSV, specifically multiple CSV files. Most courses teach ***Pandas read_csv()*** method for single file, and usually the file size is small for education purpose..

However, in reality, an analyst might has to gather multipe CSV files which each file could be huge in size. In this case, bike sharing monthly file is 100 MB+. We will need to analyze 12-month worth of data.


Here I demonstrate how the concept of _**Don't Repeat Yourself (DRY)**_ - avoid long & repetitive codes for similar task, is applicable in practical context.

In [ ]:
# list files available in the 'New York Bike Share' directory
# 13 files in the directory which we only need file in format "*-citibike-tripdata.csv" (i.e. 201901-citibike-tripdata.csv etc)
# each file is 100 MB+

!ls -lh /content/drive/MyDrive/'New York Bike Share'

total 5.4G
-rw------- 1 root root 176M Feb 11  2019 201901-citibike-tripdata.csv
-rw------- 1 root root 172M Mar  4  2019 201902-citibike-tripdata.csv
-rw------- 1 root root 242M Apr 15  2019 201903-citibike-tripdata.csv
-rw------- 1 root root 322M May  6  2019 201904-citibike-tripdata.csv
-rw------- 1 root root 351M Jun 11  2019 201905-citibike-tripdata.csv
-rw------- 1 root root 387M Jul 15  2019 201906-citibike-tripdata.csv
-rw------- 1 root root 397M Aug  5  2019 201907-citibike-tripdata.csv
-rw------- 1 root root 426M Sep 16  2019 201908-citibike-tripdata.csv
-rw------- 1 root root 443M Oct 11  2019 201909-citibike-tripdata.csv
-rw------- 1 root root 379M Nov  5  2019 201910-citibike-tripdata.csv
-rw------- 1 root root 268M Dec 20  2019 201911-citibike-tripdata.csv
-rw------- 1 root root 173M Jan 21  2020 201912-citibike-tripdata.csv
-rw------- 1 root root 1.7G Feb 19 02:04 new_york_bikeshare_2019.csv

In [ ]:
'''
DON'T RUN... For demo only...

Method 1: Inefficient way ~ ~

Result: repetitive codes that are error prone.
Note: Imagine we have files for 5 years (60 months) within the same directory ??

file_01 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201901-citibike-tripdata.csv')
file_02 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201902-citibike-tripdata.csv')
file_03 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201903-citibike-tripdata.csv')
file_04 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201904-citibike-tripdata.csv')
file_05 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201905-citibike-tripdata.csv')
file_06 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201906-citibike-tripdata.csv')
file_07 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201907-citibike-tripdata.csv')
file_08 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201908-citibike-tripdata.csv')
file_09 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201909-citibike-tripdata.csv')
file_10 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201910-citibike-tripdata.csv')
file_11 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201911-citibike-tripdata.csv')
file_12 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201912-citibike-tripdata.csv')

df = pd.concat([file_01, file_02, file_03], ignore_index=True)

'''

"\nDON'T RUN... For demo only...\n\nMethod 1: Inefficient way ~ ~\n\nResult: repetitive codes that are error prone.\nNote: Imagine we have files for 5 years (60 months) within the same directory ??\n\nfile_01 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201901-citibike-tripdata.csv')\nfile_02 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201902-citibike-tripdata.csv')\nfile_03 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201903-citibike-tripdata.csv')\nfile_04 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201904-citibike-tripdata.csv')\nfile_05 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201905-citibike-tripdata.csv')\nfile_06 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201906-citibike-tripdata.csv')\nfile_07 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201907-citibike-tripdata.csv')\nfile_08 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201908-citibike-tripdata.csv')\nfile_09 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201909-citibike-tripdata.csv')\nfile_10 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201910-citibike-tripdata.csv')\nfile_11 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201911-citibike-tripdata.csv')\nfile_12 = pd.read_csv('/content/drive/MyDrive/New York Bike Share/201912-citibike-tripdata.csv')\n\ndf = pd.concat([file_01, file_02, file_03], ignore_index=True)\n\n"

In [3]:
'''
Method 2: Efficient way ~ ~

Step 1: Getting file names within directory that are required for analysis

'''

# current path of working directory for jupyter notebook and CSV files in Google Colab
file_dir = '/content/drive/MyDrive/New York Bike Share'

# getting file names within the directory
file_names = glob(path.join(file_dir, '*-citibike-tripdata.csv'))
file_names

['/content/drive/MyDrive/New York Bike Share/201901-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201902-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201903-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201904-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201905-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201906-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201907-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201908-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201909-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201910-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201911-citibike-tripdata.csv',
 '/content/drive/MyDrive/New York Bike Share/201912-citibike-tripdata.csv']

In [4]:
# only import 100 line items for quick view of column names and data type
# let's leave columns such as 'stop_time', station_id, station_name & bike_id out of this demo

pd.read_csv('/content/drive/MyDrive/New York Bike Share/201901-citibike-tripdata.csv', nrows=100).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             100 non-null    int64
 1   starttime                100 non-null    object
 2   stoptime                 100 non-null    object
 3   start station id         100 non-null    int64
 4   start station name       100 non-null    object
 5   start station latitude   100 non-null    float64
 6   start station longitude  100 non-null    float64
 7   end station id           100 non-null    int64
 8   end station name         100 non-null    object
 9   end station latitude     100 non-null    float64
 10  end station longitude    100 non-null    float64
 11  bikeid                   100 non-null    int64
 12  usertype                 100 non-null    object
 13  birth year               100 non-null    int64
 14  gender                   100 non-null    int64
dtypes: float64(4), int64(6), object(5)
memory usage: 11.8+ KB

In [5]:
'''
Method 2: Efficient way ~ ~

Step 2: Define function to create Pandas DataFrame

'''

col_index = [0, 1, 5, 6, 9 ,10, 12, 13, 14]

col_name = ['duration', 
            'time_start', 
            'station_latitude_start', 
            'station_longitude_start',
            'station_latitude_end', 
            'station_longitude_end', 
            'user_type', 
            'birth_year', 
            'gender']

col_type = {
    'duration': np.int32,
    'station_latitude_start': np.float32,
    'station_longitude_start': np.float32,
    'station_latitude_end': np.float32,
    'station_longitude_end': np.float32,
    'user_type': 'category',
    'birth_year': np.int32,
    'gender': 'category'
}

# self defined function to create dataframe
def create_df(f, size = 100_000):

    # create chunks of data frame with 100K per chunk. Result is an iteratable of dataframes
    result = pd.read_csv(f, chunksize=size, usecols=col_index, names=col_name, dtype=col_type, parse_dates=['time_start'], header=0)

    return result

In [6]:
'''
Method 2: Efficient way ~ ~

Step 3: Use .map() to apply 'create_df' function to each file in 'file_names' simultaneous

'''

# .map() will apply 'create_df' function to each file in file_names
# result >> list of iteratable. Each iterable contains many dataframes with 100,000 rows

df = list(map(create_df, file_names))
df

[<pandas.io.parsers.TextFileReader at 0x7f7ba0af4890>,
 <pandas.io.parsers.TextFileReader at 0x7f7b919eff10>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91a02190>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91272810>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91272a10>,
 <pandas.io.parsers.TextFileReader at 0x7f7b919f5b50>,
 <pandas.io.parsers.TextFileReader at 0x7f7b919f52d0>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91a1bf50>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91272f10>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91264210>,
 <pandas.io.parsers.TextFileReader at 0x7f7b912647d0>,
 <pandas.io.parsers.TextFileReader at 0x7f7b91264190>]

In [7]:
'''
Method 2: Efficient way ~ ~

Step 4: apply python 'list comprehension' to get list of DataFrame

'''

# loop through each iteratable and store each dataframe to list with 'list comprehension'

df = [chunk for ls in df for chunk in ls]

In [ ]:
# let's check one of the dataframe
# each dataframe contains up to 100,000 line items
# df[0] index number range from 0 to 99,999

df[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration                 100000 non-null  int32
 1   time_start               100000 non-null  datetime64[ns]
 2   station_latitude_start   100000 non-null  float32
 3   station_longitude_start  100000 non-null  float32
 4   station_latitude_end     100000 non-null  float32
 5   station_longitude_end    100000 non-null  float32
 6   user_type                100000 non-null  category
 7   birth_year               100000 non-null  int32
 8   gender                   100000 non-null  category
dtypes: category(2), datetime64[ns](1), float32(4), int32(2)
memory usage: 3.2 MB

In [ ]:
# df[1] index number range from 100,000 to 199,999

df[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 100000 to 199999
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration                 100000 non-null  int32
 1   time_start               100000 non-null  datetime64[ns]
 2   station_latitude_start   100000 non-null  float32
 3   station_longitude_start  100000 non-null  float32
 4   station_latitude_end     100000 non-null  float32
 5   station_longitude_end    100000 non-null  float32
 6   user_type                100000 non-null  category
 7   birth_year               100000 non-null  int32
 8   gender                   100000 non-null  category
dtypes: category(2), datetime64[ns](1), float32(4), int32(2)
memory usage: 3.2 MB

In [8]:
'''
Method 2: Efficient way ~ ~

Step 5: use pd.concat() to merge list of dataframes

'''

# p.concat() >> append list of dataframe on top of each other to produce master dataframe
# note: each dataframe has different index number. parameter 'ignore_index' is set to 'True' and pd.concat() will reset index number after merge.

df = pd.concat(df, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20551697 entries, 0 to 20551696
Data columns (total 9 columns):
 #   Column                   Dtype
---  ------                   -----
 0   duration                 int32
 1   time_start               datetime64[ns]
 2   station_latitude_start   float32
 3   station_longitude_start  float32
 4   station_latitude_end     float32
 5   station_longitude_end    float32
 6   user_type                category
 7   birth_year               int32
 8   gender                   category
dtypes: category(2), datetime64[ns](1), float32(4), int32(2)
memory usage: 666.4 MB

In [9]:
# check variables with NaN items

df.isna().sum()

duration                   0
time_start                 0
station_latitude_start     0
station_longitude_start    0
station_latitude_end       0
station_longitude_end      0
user_type                  0
birth_year                 0
gender                     0
dtype: int64

## ***Lesson 02: Pandas 'Category' Data Type***

Gender data type is set to 'category' when we import CSV with .read_csv() method. I learn that a category will remain in pandas memory/dataframe even I explicitly exclude the line items with gender category '0'.

We can check category of variable with ***.cat.categories*** attribute and remove unwanted category with ***.cat.remove_categories()*** method. Finally, we also can use ***.cat.rename_categories()*** method to rename category.

In [10]:
# Based on data dictionary, 'gender' consists category 0, 1, 2 which category 0 is 'unknown'
# .unique() method can easily shows unique category for 'gender'

df.gender.unique()

['1', '2', '0']
Categories (3, object): ['1', '2', '0']

In [11]:
# .cat.categories attribute is an alternative to .unique() method
# ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cat.categories.html

df.gender.cat.categories

Index(['0', '1', '2'], dtype='object')

In [12]:
# let's remove category '0' from dataframe

df = df.loc[df.gender != '0', :]

# check again unique values in 'gender'

df.gender.unique()

['1', '2']
Categories (2, object): ['1', '2']

In [13]:
# let's do a summary of percentage of users by gender wtih .value _counts() method 
# 1 >> 'Male', 2 >> 'Female'
# we will be surprise to see the category '0' is part of the summary, although result shows 0%

df.gender.value_counts(normalize=True)

1    0.739935
2    0.260065
0    0.000000
Name: gender, dtype: float64

In [14]:
# reason being, category '0' still in pandas memory although we explicitly remove gender with category '0' from dataframe

df.gender.cat.categories

Index(['0', '1', '2'], dtype='object')

In [15]:
# .cat.remove_categories() helps to remove unused category from pandas memory
# ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cat.remove_categories.html#pandas.Series.cat.remove_categories
# set parameter inplace = True; pandas doesn't print result of new category

df.gender.cat.remove_categories(removals = '0', inplace = True)

# category '0' no longer in pandas memory

df.gender.cat.categories

Index(['1', '2'], dtype='object')

In [16]:
# sumamrise gender percentage....again

df.gender.value_counts(normalize=True)

1    0.739935
2    0.260065
Name: gender, dtype: float64

In [17]:
# category '1' & '2' are not self-explanatory
# rename the category with .cat.rename_categories() method
# ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cat.rename_categories.html#pandas.Series.cat.rename_categories

df.gender.cat.rename_categories({'1': 'Male', '2': 'Female'}, inplace = True)

# new category name for gender

df.gender.cat.categories

Index(['Male', 'Female'], dtype='object')

In [18]:
# sumamrise gender percentage....again
# gender category becomes 'Male' & 'Female'

df.gender.value_counts(normalize=True)

Male      0.739935
Female    0.260065
Name: gender, dtype: float64

## ***Lesson 03: Feature Engineering with pandas.cut()***

In bike sharing dataframe, we are given 'birth_year'. Birth year is not very useful for data analysis/visualization.

Imagine birth year range from 1970 to 2020, it is presentable in either histogram/bar chart.

In such scenario, we can perform feature engineering to group birth_year into generation. Example: anyone born between 1981 - 1996 is Generation Y. So, we can analyze bike sharing activity by generation instead of birth_year.

In [19]:
# summary of birth_year

df.birth_year.min(), df.birth_year.max()

(1857, 2003)

In [20]:
# total observations before exclude birth_year < 1928
# approximately 19M observations

df.shape

(18991389, 9)

In [21]:
# let's only include birth_year from 1928 (silent generation) onward

df = df.query(" birth_year >= 1928 ").reset_index(drop = True)

In [22]:
# total observations after exclude birth_year < 1928
# approximately 19M observations

df.shape

(18982169, 9)

In [ ]:
# Method 01:
# define function like below and apply the function to 'birth_year'

def define_gen(year):

    gen = None
    
    if year < 1946:
        gen = 'silent'
    elif (year >= 1946) & (year < 1965):
        gen = 'baby_boomer'
    elif (year >= 1965) & (year < 1981):
        gen = 'gen_x'
    elif (year >= 1981) & (year < 1997):
        gen = 'gen_y'
    else:
        gen = 'gen_z'

    return gen

In [ ]:
# this method present a huge challenge...it takes very long to perform the operation on large data set, in this case, 19M rows
# 6+ second for each observation; how much time required for 19M observations ??

%timeit df.birth_year.apply(define_gen)

1 loop, best of 5: 6.06 s per loop

In [ ]:
# we can achieve same result with pd.cut() method, with shorter time
# ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html?highlight=cut#pandas.cut

# 532 milisecond (0.532 second) for each observation; this is 11.6 times faster than applying function to 'birth_year'

bin_range = [1928, 1946, 1965, 1981, 1997, 2016]
gen_label = ['silent', 'baby_boomer', 'gen_x', 'gen_y', 'gen_z']

%timeit pd.cut(df.birth_year, bins = bin_range, labels = gen_label, include_lowest=True, ordered=False)

1 loop, best of 5: 493 ms per loop

In [23]:
# Gen Y is the largest user group, accounted for 54%

pd.cut(df.birth_year, 
       bins = [1928, 1946, 1965, 1981, 1997, 2016], 
       labels = ['silent', 'baby_boomer', 'gen_x', 'gen_y', 'gen_z'], 
       include_lowest=True, 
       ordered=False).value_counts(normalize=True)

gen_y          0.543800
gen_x          0.293460
baby_boomer    0.128881
gen_z          0.029339
silent         0.004520
Name: birth_year, dtype: float64

## ***Lesson 04: Numpy for better performance***

We can perform mathematical operation on Pandas Series. However, *Numpy* is more optimal (i.e. faster) when dealing with large data set than Pandas *Series*.

In [24]:
# we will use duration, distance and speed for demo

# create coordinates of start_station

coordinate_start = list(zip(df.station_latitude_start.values, df.station_longitude_start.values))

In [25]:
# create coordinates of end_station

coordinate_end = list(zip(df.station_latitude_end.values, df.station_longitude_end.values))

In [26]:
# calculate distance with the help of haversine based on coordinates start & end
# https://pypi.org/project/haversine/

df['distance'] = haversine_vector(coordinate_start, coordinate_end, Unit.KILOMETERS)

In [ ]:
# at the moment, 'duration' is in seconds & distance in kilometer
# we need to calculate 'speed' in kilometer/hour

# let's measure time taken to calculate 'speed' with pandas Series
# remember: 1 hour ==> 3,600 seconds

%timeit df.distance / (df.duration / (60 * 60))

10 loops, best of 5: 88.6 ms per loop

In [ ]:
# let's measure time taken to calculate 'speed' with Numpy array
# Numpy divide ==> https://numpy.org/doc/stable/reference/generated/numpy.divide.html#:~:text=divide,-numpy.&text=Returns%20a%20true%20division%20of,this%20returns%20a%20true%20division.
# remember: 1 hour ==> 3,600 seconds

hour = np.divide(df.duration, 3600)

# reason for better performance: Numpy array is more memory-efficient
# ref: https://www.geeksforgeeks.org/difference-between-pandas-vs-numpy/

%timeit np.divide(df.distance.values, hour)

10 loops, best of 5: 44.9 ms per loop

## ***Lesson 05: Create/Replace Variable with pandas.assign()***

In pandas, we tend to use *df['variable'] = pandas action* to create/replace a variable. This method is used multiple times if we want to create few variables: 

*df['var_01'] = action_01* <br>
*df['var_02'] = action_02* <br>
*df['var_03'] = action_03*

With *.assign()* method, we can create multiple variables with one command.
Check documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html). 

By the way, assign() method is inspired by R Tidyverse *mutate()*. Refer [here](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_r.html#transforming) for more detail.

In [ ]:
# reengineer 'birth_year', 'duration' & 'speed' with .assign() and measure time taken
# turn 'birth_year' into 'generation'
# turn 'duration' from seconds to minutes
# create variable 'speed'

%%timeit

df.assign(generation = pd.cut(df.birth_year, bins = bin_range, labels = gen_label, include_lowest=True, ordered=False), 
          duration = np.divide(df.duration.values, 60), 
          speed = np.divide(df.distance.values, hour))

1 loop, best of 5: 878 ms per loop

In [29]:
bin_range = [1928, 1946, 1965, 1981, 1997, 2016]
gen_label = ['silent', 'baby_boomer', 'gen_x', 'gen_y', 'gen_z']

hour = np.divide(df.duration, 3600)

# create/replace variable with one command
df = df.assign(generation = pd.cut(df.birth_year, bins = bin_range, labels = gen_label, include_lowest=True, ordered=False), 
                duration = np.divide(df.duration.values, 60), 
                speed = np.divide(df.distance.values, hour))

df.head()

    duration              time_start  ...   generation      speed
0   5.333333 2019-01-01 00:01:47.401  ...        gen_x  11.996004
1   5.266667 2019-01-01 00:04:43.736  ...  baby_boomer   6.581936
2   9.850000 2019-01-01 00:06:03.997  ...        gen_y  12.391687
3  45.316667 2019-01-01 00:07:03.545  ...        gen_y   1.857952
4   5.050000 2019-01-01 00:07:35.945  ...        gen_x  15.635686

[5 rows x 12 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18982169 entries, 0 to 18982168
Data columns (total 12 columns):
 #   Column                   Dtype
---  ------                   -----
 0   duration                 float64
 1   time_start               datetime64[ns]
 2   station_latitude_start   float32
 3   station_longitude_start  float32
 4   station_latitude_end     float32
 5   station_longitude_end    float32
 6   user_type                category
 7   birth_year               int32
 8   gender                   category
 9   distance                 float32
 10  generation               category
 11  speed                    float64
dtypes: category(3), datetime64[ns](1), float32(5), float64(2), int32(1)
memory usage: 923.2 MB

## ***Lesson 06: Method Chaining***

Proper method chaining improves code readability and cut down intermediate variable assignment; this is especially useful when we need to perform multiple actions at one go.

From previous lessons, we created new variables (distance, generation, and speed) & reengineer duration (from seconds to minutes). Now we observe 'duration', 'distance' and 'speed' are numerical variables with more than 4 decimals. Variables such as latitude & longitude and birth_year are no longer required for analysis.

We can remove & format variables with *Method Chaining*

In [ ]:
'''
Run code for demo only

Method 01: Long method chaining

1. to remove variables
2. round variables in float type to 2 decimals
3. change data type of 'speed' from 'float64' to 'float32'

Code is hardly readable !!!
'''

df.drop(columns=['station_latitude_start', 'station_longitude_start', 'station_latitude_end', 'station_longitude_end', 'birth_year']).round(2).astype({'speed': np.float32}).head()

   duration              time_start   user_type  ... distance   generation  speed
0      5.33 2019-01-01 00:01:47.401  Subscriber  ...     1.07        gen_x  12.00
1      5.27 2019-01-01 00:04:43.736  Subscriber  ...     0.58  baby_boomer   6.58
2      9.85 2019-01-01 00:06:03.997  Subscriber  ...     2.03        gen_y  12.39
3     45.32 2019-01-01 00:07:03.545  Subscriber  ...     1.40        gen_y   1.86
4      5.05 2019-01-01 00:07:35.945  Subscriber  ...     1.32        gen_x  15.64

[5 rows x 7 columns]

In [ ]:
'''
Run code for demo only

Method 02: Variable reassignment for each step

1. to remove variables
2. round variables in float type to 2 decimals
3. change data type of 'speed' from 'float64' to 'float32'

Code is readable but we created unnecessary variables at every step
'''

# remove variables
s1 = df.drop(columns=['station_latitude_start', 'station_longitude_start', 'station_latitude_end', 'station_longitude_end', 'birth_year'])

# round numerical variables to 2 decimals
s2 = s1.round(2)

# change data type of speed to 'float32'
s3 = s2.astype({'speed': np.float32})

s3.head()

   duration              time_start   user_type  ... distance   generation  speed
0      5.33 2019-01-01 00:01:47.401  Subscriber  ...     1.07        gen_x  12.00
1      5.27 2019-01-01 00:04:43.736  Subscriber  ...     0.58  baby_boomer   6.58
2      9.85 2019-01-01 00:06:03.997  Subscriber  ...     2.03        gen_y  12.39
3     45.32 2019-01-01 00:07:03.545  Subscriber  ...     1.40        gen_y   1.86
4      5.05 2019-01-01 00:07:35.945  Subscriber  ...     1.32        gen_x  15.64

[5 rows x 7 columns]

In [31]:
'''
Actual Version

Method 03: Proper Method Chaining wtih back slash '\'

1. to remove variables
2. round variables in float type to 2 decimals
3. change data type of 'speed' & 'duration' from 'float64' to 'float32'

'''

df = df.drop(columns=['station_latitude_start', 'station_longitude_start', 'station_latitude_end', 'station_longitude_end', 'birth_year'])\
        .round(2)\
        .astype({'speed': np.float32, 'duration': np.float32})

df.head()

   duration              time_start   user_type  ... distance   generation  speed
0      5.33 2019-01-01 00:01:47.401  Subscriber  ...     1.07        gen_x  12.00
1      5.27 2019-01-01 00:04:43.736  Subscriber  ...     0.58  baby_boomer   6.58
2      9.85 2019-01-01 00:06:03.997  Subscriber  ...     2.03        gen_y  12.39
3     45.32 2019-01-01 00:07:03.545  Subscriber  ...     1.40        gen_y   1.86
4      5.05 2019-01-01 00:07:35.945  Subscriber  ...     1.32        gen_x  15.64

[5 rows x 7 columns]

In [32]:
# let's see the changes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18982169 entries, 0 to 18982168
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   duration    float32
 1   time_start  datetime64[ns]
 2   user_type   category
 3   gender      category
 4   distance    float32
 5   generation  category
 6   speed       float32
dtypes: category(3), datetime64[ns](1), float32(3)
memory usage: 416.4 MB

## ***Lesson 07: Reindex***

We can change order of variables with *.reindex()*. This is a formal way of reordering variables.

In [33]:
# ref: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html?highlight=reindex#pandas.DataFrame.reindex

df = df.reindex(columns = ['time_start', 'user_type', 'gender', 'generation', 'duration', 'distance', 'speed'])
df.head()

               time_start   user_type gender  ... duration  distance  speed
0 2019-01-01 00:01:47.401  Subscriber   Male  ...     5.33      1.07  12.00
1 2019-01-01 00:04:43.736  Subscriber   Male  ...     5.27      0.58   6.58
2 2019-01-01 00:06:03.997  Subscriber   Male  ...     9.85      2.03  12.39
3 2019-01-01 00:07:03.545  Subscriber   Male  ...    45.32      1.40   1.86
4 2019-01-01 00:07:35.945  Subscriber   Male  ...     5.05      1.32  15.64

[5 rows x 7 columns]

## ***Lesson 08: Time Series with resample()***

*.resample()* method in pandas is very useful to organize data by hour, day, week, month etc.

In [34]:
# let's say we want to find out monthly bike usage in 2019
# ref: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html?highlight=resample#pandas.DataFrame.resample

# 'M' >> group by "month"
# parameter 'on' must be set to a 'datetime64' variable

df.resample('M', on = 'time_start')['gender'].count()

time_start
2019-01-31     932320
2019-02-28     906456
2019-03-31    1255656
2019-04-30    1627078
2019-05-31    1755529
2019-06-30    1925806
2019-07-31    1984048
2019-08-31    2117821
2019-09-30    2237988
2019-10-31    1938000
2019-11-30    1393111
2019-12-31     908356
Freq: M, Name: gender, dtype: int64

In [35]:
# 'H' >> group by "Hour"
# parameter 'on' must be set to a 'datetime64' variable

df.resample('H', on = 'time_start')['gender'].count()

time_start
2019-01-01 00:00:00     125
2019-01-01 01:00:00     255
2019-01-01 02:00:00     261
2019-01-01 03:00:00     179
2019-01-01 04:00:00     114
                       ...
2019-12-31 19:00:00    1086
2019-12-31 20:00:00     677
2019-12-31 21:00:00     514
2019-12-31 22:00:00     488
2019-12-31 23:00:00     363
Freq: H, Name: gender, Length: 8760, dtype: int64

## ***Lesson 09: Datetime Manipulation with Pandas***

In our dataframe, 'time_start' variable is in 'datetime64' format. We can extract date/time with *.dt* followed by datetime attribute/method (second, hour, day, week, day name, month & month name).

In [36]:
# example: day
# ref: https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.day.html?highlight=day#pandas.Series.dt.day

df.time_start[0:100].dt.day

0     1
1     1
2     1
3     1
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: time_start, Length: 100, dtype: int64

In [37]:
# example: day name (i.e. Monday)
# ref: https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.day_name.html?highlight=day_name

df.time_start[0:100].dt.day_name()

0     Tuesday
1     Tuesday
2     Tuesday
3     Tuesday
4     Tuesday
       ...
95    Tuesday
96    Tuesday
97    Tuesday
98    Tuesday
99    Tuesday
Name: time_start, Length: 100, dtype: object

In [38]:
# example: month name (i.e. January)
# ref: https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.month_name.html?highlight=month_name#pandas.Series.dt.month_name

df.time_start[0:100].dt.month_name()

0     January
1     January
2     January
3     January
4     January
       ...
95    January
96    January
97    January
98    January
99    January
Name: time_start, Length: 100, dtype: object

## ***Lesson 10: Pandas Groupby***

Groupby can be used together with Count/Sum as an alternative to *resample()*. When done in the right way, we can combine groupby with datetime manipulation. 

For example: we can group our data set by month and count activity for each.

In [39]:
# extract 'month name' from 'time_start' and group by month
# count activity of each month

t = df.groupby(by = df.time_start.dt.month_name())['gender'].count()
t

time_start
April        1627078
August       2117821
December      908356
February      906456
January       932320
July         1984048
June         1925806
March        1255656
May          1755529
November     1393111
October      1938000
September    2237988
Name: gender, dtype: int64

In [40]:
# current index is sort alphabetically

t.index

Index(['April', 'August', 'December', 'February', 'January', 'July', 'June',
       'March', 'May', 'November', 'October', 'September'],
      dtype='object', name='time_start')

In [44]:
# we can sort index by providing list of values

t = t.reindex(['January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December'])

t

time_start
January       932320
February      906456
March        1255656
April        1627078
May          1755529
June         1925806
July         1984048
August       2117821
September    2237988
October      1938000
November     1393111
December      908356
Name: gender, dtype: int64

In [43]:
# group data by "Hour" to get bike sharing activity on hourly basis

df.groupby(by = df.time_start.dt.hour)['gender'].count()

time_start
0      168082
1       94773
2       57679
3       37360
4       41697
5      135311
6      431501
7      906516
8     1575432
9     1243327
10     857928
11     877483
12    1004565
13    1040427
14    1072548
15    1132770
16    1320268
17    1861592
18    1752979
19    1221752
20     833847
21     584420
22     439059
23     290853
Name: gender, dtype: int64

## ***Lesson 11: String Method***

Pandas String method, *.str* is an conveient way to work with Pandas Series (**NOT list or Numpy array**). The reason it is called *'string'* method: it only works for pandas Series with data type 'string'.

What can we do with string method? Some common applications for pandas Series are:

1. convert string from lower to upper case
2. slice substring from text
3. filter data
4. find & replace specific text

and many more....

Check [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#string-methods) for details

In [49]:
'''
In Lesson 03, we group 'birth_year' into 'generation' category. 
However, category names are in lower case and separated by underscore '_'

'''

pd.Series(df.generation.unique())

0          gen_x
1    baby_boomer
2          gen_y
3          gen_z
4         silent
dtype: category
Categories (5, object): ['gen_x', 'baby_boomer', 'gen_y', 'gen_z', 'silent']

In [51]:
'''
example 01: convert text from lower to upper case & replace string

with .str.title(), we convert first letter of each word to upper case
with .str.replace(), we replace underscore '_' with space ' '

'''

pd.Series(df.generation.unique())\
.str.title()\
.str.replace('_', ' ')

0          Gen X
1    Baby Boomer
2          Gen Y
3          Gen Z
4         Silent
dtype: object

In [60]:
'''
In Lesson 09, we group 'time_start' by month name. 
What if we only want first 3-letter from month name?

'''

t.index

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object', name='time_start')

In [59]:
'''
example 02: slice a string

slice first 3 letters from month name

'''

t.index.str[0:3]

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object', name='time_start')

In [77]:
'''
example 03: filter by rows

filter pandas Series index with string ends with 'ber'

'''

t.index.str.endswith('ber')

array([False, False, False, False, False, False, False, False,  True,
        True,  True,  True])

In [78]:
# filter pandas Series with index name ends with 'ber'

t[t.index.str.endswith('ber')]

time_start
September    2237988
October      1938000
November     1393111
December      908356
Name: gender, dtype: int64

In [65]:
'''
In this dataframe, we only have 7 columns.
What if we to check columns contain 'gen' keyword?

'''

df.columns.values

array(['time_start', 'user_type', 'gender', 'generation', 'duration',
       'distance', 'speed'], dtype=object)

In [66]:
'''
example 04: filter by columns

filter pandas columns index contains 'gen'
result >> True / False for matching values

'''

df.columns.str.contains('gen')

array([False, False,  True,  True, False, False, False])

In [69]:
# filter dataframe columns with index name contains 'gen'

df.loc[:, df.columns.str.contains('gen')].head()

  gender   generation
0   Male        gen_x
1   Male  baby_boomer
2   Male        gen_y
3   Male        gen_y
4   Male        gen_x

In [73]:
'''
wondering why use .str instead of for-loop + list comprehension?

'''

month_name = ['January', 'February', np.nan, 'April', 'May', 'June', 'July',
                'August', 'September', 'October', 'November', 'December']  

month_name

['January',
 'February',
 nan,
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [71]:
# use of for-loop within list comprehension will fail if there is NaN

[word[0:3] for word in month_name]

TypeError: ignored

In [76]:
# apply function to slice the substring fail

pd.Series(month_name).apply(lambda word: word[0:3])

TypeError: ignored

In [72]:
# .str will skip NaN item & operation doesn't produce error

pd.Series(month_name).str[0:3]

0     Jan
1     Feb
2     NaN
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
dtype: object